*{
    margin: 0;
    padding: 0;
}
::selection {
    background: #323d52; /* Replace with your desired color */
     /* Replace with your desired text color */
}     
html {
    font-size: 16px; /* This is typically the default size */
}
body {
    background: rgb(16, 25, 75);
    background: linear-gradient(90deg, rgb(14, 16, 44) 23%, rgba(12,18,32,1) 54%, rgba(15,23,42,1) 100%);
    color: white;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'SanFransiscoLight';
    src: url(fonts/SF-Pro-Text-Light.otf);
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'SanFransiscoHEAVY';
    src: url(fonts/SF-Pro-Display-Heavy.otf);
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'SanFransiscoM';
    src: url(fonts/SF-Pro-Display-Medium.otf);
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'SanFransisco';
    src: url(fonts/SF-Pro-Display-Regular.otf);
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'SFMono';
    src: url(fonts/FiraMono-Regular.ttf);
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'HalifaxBold';
    src: url(Halifax\ W03\ Bold.ttf);
    font-weight: bold;
    font-style: normal;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes typing {
    from { width: 0; }
    to { width: 45%; }
}
  
  @keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: #55D8BD; }
} 

@keyframes slideInFromRight {
    0% {
      transform: translateX(100%); /* Start from beyond the right edge */
      opacity: 0;
    }
    100% {
      transform: translateX(0); /* End at its final position */
      opacity: 1;
    }
}
#main-content {
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    margin: 0 auto;
    width: 80%;
    max-width: 62.5rem;
    padding: 5rem 1.25rem;
    gap: 2rem; /* 20px if the base font-size is 16px */
}
#intro, #about-me {
    width: 100%; /* Consistent width for alignment */
    text-align: left; /* Adjust top margin as needed */
}
#intro {
    margin-top: 18rem;
}

#intro h1 {
    color:#CCD6F6;
    font-family: 'SanFransiscoHEAVY';
    font-size: 3.02rem;
    margin-bottom: 20px; /* Space between the heading and paragraph */
    margin-left: 0; /* Align the left edge of h1 with the paragraph */
}

.greeting {
    font-family: 'SFMono';
    font-size: 18px; /* Adjust as needed */
    color: #55D8BD; /* Light grey text color, adjust as needed */
    margin-bottom: 10px; /* Small space below the greeting */
    border-right: .15em solid #55D8BD; /* The caret (cursor) */
    overflow: hidden; /* Ensures the content is clipped */
    white-space: nowrap; /* Keeps the content on a single line */
    width: 0; /* Start with width 0 and let the animation expand it */
    /* Increase the duration for smoother and slower typing */
    animation: typing 5s steps(30, end) forwards, blink-caret 0s step-end 5s forwards;
    /* Set the delay of the blink-caret to match the typing duration so it blinks at the end of the phrase */
    animation-delay: 0s, 1.7s; /* No delay for typing, 5s delay for blink-caret */
}

.name {
    font-weight: bold;
    color: #575757; /* Adjust to the color you want for the name */
    margin-bottom: 30px; /* Space below the name */
}
.tagline { 
    font-family:'SanFransiscoHEAVY';
    color: #8892B0; /* Adjust to the color you want for the tagline */
    margin-bottom: 20px; /* Space below the tagline */
}
.cta-button {
    display: inline-block; /* Makes the link behave like a button */
    background: transparent; /* Transparent background */
    color: #55D8BD; /* Text color - choose a color that makes the text readable on your background */
    padding: 10px 20px; /* Padding inside the button */
    border: 1.5px solid #55D8BD; /* Border color - choose a color that stands out on your background */
    text-decoration: none; /* Removes underline from the link */
    font-family:'SFMono';
    font-size: 14px;
    border-radius: 5px; /* Rounded corners for the button */
    transition: background-color 0.2s, color 0.2s; /* Smooth transition for hover effects */
    transition: transform 0.2s ease, box-shadow 0.2s ease
}

.cta-button:hover {
    background: transparent; /* Background color on hover - choose a subtle color or keep it transparent */
    color: #55D8BD; /* Text color on hover - choose a color that contrasts the hover background */
    border-color: #55D8BD; /* Border color on hover - optional if you want to change the border color on hover */
    transform: scale(1.02) translate(0, -2px);
    box-shadow: 10px 10px 0px 0px #55D8BD;
}
#about-me {
    font-family:Arial, Helvetica, sans-serif; /* Center the content and add space below the section */ /* Add padding for spacing inside the section */
    color: #7582a3; /* Text color */
}
.section-title {
    font-family: 'SanFransiscoM', Arial, sans-serif;
    position: relative;
    display: inline-block; /* To contain the size of the pseudo-element to the content */
    margin-top: 60%;
    margin-bottom: 20px; /* Space below the section title */
    font-size: 32px; /* Size of the section title */
    color: #CCD6F6; /* Color of the section title, adjust as needed */
    /* Other styles... <div>Icons made from <a href="https://www.onlinewebfonts.com/icon">svg icons</a>is licensed by CC BY 4.0</div>*/
}
/*.section-title::after {
    content: '';
    position: absolute;
    top: 50%; /* Align the line vertically */
    /*left: calc(100% + 15px); /* Position the line after the text with some spacing */
    /*width: 3.125rem; /* Initial width of the line */
    /*height: 0.5px; /* Make the line thinner */
    /*background-color: #575757; /* Color of the line */
    /*transition: width 0.3s ease-in-out; /* Smooth transition for the line */
    /*transform: translateY(-50%); /* Center the line vertically relative to the title */


/*.section-title:hover::after {
    width: 52rem; /* Optional: Increase the length of the line on hover */

.about-description {
    font-family: 'SanFransiscoM';
    font-size: 1.125rem; /* Size of the about description text */
    line-height: 1.6; /* Line height for better readability */
    max-width: 30rem;
    margin-top: 1.25rem; /* Space above the about description */
    padding-bottom: 0rem;
}
.about-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Align items at the start of the container */
    gap: 25px; /* Space between the about me text and the image frame */

}

#about-me {
    padding: 0rem;
    flex-basis: 100%; /* Adjust the width as needed */
}
.highlight {
    color: #55D8BD; /* Change to your preferred color */
    cursor: pointer; /* Optional: Changes the cursor to a pointer to indicate interactivity */
    position: relative; /* Required for absolute positioning of the pseudo-element */
    display: inline-block; /* Ensures the pseudo-element aligns correctly */
}

.highlight::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0.1px; /* Thickness of the underline */
    bottom: 0;
    left: 0;
    background-color: #55D8BD; /* Color of the underline */
    transition: width 0.15s ease-in-out; /* Smooth transition for the underline effect */
    transform: translateY(-6px); /* Position the underline below the text */
}

.highlight:hover::after {
    width: 100%; /* Full width on hover */
}
#image-container {
    width: 700px; /* or whatever width you desire */
    height: 400px; /* to maintain aspect ratio */
    padding: 10px; /* Padding around the image for the frame effect */
    margin-top: 2rem; /* Adjust to position the image container */
    box-sizing: border-box;
    perspective: 1000px; /* Depth effect for 3D transformation */
}

#image-container img {
    width: 700px; /* or whatever width you desire */
    height: 400px; /* to maintain aspect ratio */
    margin-top: 25rem; /* to move it down */
    display: block; /* to ensure it respects the width and height */
    /* Remove flex: 1.5 if it's there */
}
#profile-image {
   max-width: 100%; /* Ensures the image is no larger than its container */
}


#profile-image {
    height: auto; /* Maintain aspect ratio */
    border: 1px solid #55D8BD; /* Color of the frame */
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); /* Shadow for 3D effect */
    transform: translateZ(0); /* Initial state for 3D transformation */
    transition: transform 0.3s ease-in-out;
}
#second-image {
    width: 700px; /* or whatever width you desire */
    height: 400px; /* to maintain aspect ratio */
    border: 1px solid #55D8BD; /* Color of the frame */
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); /* Shadow for 3D effect */
    transform: translateZ(0); /* Initial state for 3D transformation */
    transition: transform 0.3s ease-in-out;
    max-width: 100%;
}

#skills {
    padding: 0px;
    margin-top: 0rem;
}
#skills .section-title {
    margin-top: 30%; /* Adjust this value as needed */
    text-align: left;
    margin-bottom: 60px;
}

.skills-logos {
    display: flex; /* Align logos in a row */
    flex-wrap: wrap; /* Allow logos to wrap to next line on small screens */
    justify-content: center; /* Center logos within the container */
    gap: 2rem; /* Space between logos */
}

.logo-container {
    position: relative;
    width: 70px; /* Adjust size of logos */
    height: 70px; /* Adjust size to match width for a square */
    margin: 0.5rem;
}

.skill-logo {
    width: 100%;
    height: auto;
    transition: opacity 0.2s ease;
}

.logo-description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.2s ease;
    background-color: linear-gradient(90deg, rgb(14, 16, 44) 23%, rgba(12,18,32,1) 54%, rgba(15,23,42,1) 100%);
    color: white;
    font-size: 16px;
    font-family: 'SFMono';
    box-sizing: border-box; /* Include padding in width and height */
    text-align: center; /* Center align multi-line text */
}


.logo-container:hover .skill-logo {
    opacity: 0.3;
}

.logo-container:hover .logo-description {
    opacity: 1;
}

#work-experience {
    padding: 0px;
    margin-top: 2rem;
    text-align: left;
}

.experience-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.experience-entry {
    display: flex;
    align-items: flex-start; /* Align the items to the top */
    gap: 5px; /* Reduced space between date and job details */
    transition: background-color 0.15s ease;
    padding: 0.5rem;
    border-radius: 5px;
    width: 90%;
}

.experience-entry:hover {
    background-color: rgba(255, 255, 255, 0.05); /* Add background-color on hover */
}

.experience-entry:hover .job-title {
    color: #55D8BD; /* Change color on hover */
}
.experience-entry .experience-link {
    display: flex;
    align-items: flex-start;
    text-decoration: none; /* Remove underline from links */
    color: inherit; /* Inherit text color from parent */
}

.experience-entry:hover .experience-link {
    cursor: pointer; /* Change cursor to pointer on hover */
}

.arrow {
    display: inline-block; /* Allows for transformation */
    transition: transform 0.2s ease; /* Smooth animation for the arrow */
    font-size: 14px;
}

.experience-entry:hover .arrow {
    transform: translateY(-5px) translateX(5px); /* Arrow animation on hover */
}
.date {
    width: 40%; /* Adjust the width of the date column for closer proximity */
    text-align: left; /* Align the text to the right */
    margin-right: 2px; /* Reduced for closer spacing */
    font-family: 'SanFransisco';
    color: #7582a3;
    font-size: 1rem;
    margin-top: 2.65px;
}

.job-details {
    width: 100%; /* Allow job details to take up remaining space */
    padding-left: 5px; /* Reduced padding for closer alignment */
    color: #7582a3;
    margin-top: 0px;
    font-family: 'SanFransisco';
}

.job-title {
    font-size: 1.25rem;
    color: #CCD6F6; /* Adjust as needed */
    font-family: 'SanFransiscoLight';
    position: relatssive;
}


.positions {
    font-size: 1rem;
    color: #8892B0; /* Adjust as needed */
    margin-top: 2px;
    font-family: 'SanFransisco';
}
.job-description {
    color: #7582a3; /* Adjust as needed */
    margin-top: 6px;
    font-family: 'SanFransisco';
    letter-spacing: 0.05em;
    width: 90%;
}


.tags {
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    gap: 10px; /* Space between tags */
    font-family:'SFMono';
}

.tags span {
    background-color: #183149; /* Example background color */
    color: #55D8BD;; /* Text color */
    padding: 5px 10px;
    border-radius: 15px;
    margin-top: 10px; /* Space above the tags */
}












/* Adjustments for different screen sizes */
@media (max-width: 600px) {
    .skills-logos {
        justify-content: space-around; /* Adjust spacing on smaller screens */
    }
}

@media (max-width: 600px) {
    .skill-logo {
        width: 70px; /* Smaller logos for small screens */
        height: 70px;
    }
}






@media (max-width: 600px) {
    .greeting {
        font-size: 18px; /* Minimum font size for greeting */
    }

    .intro h1 {
        font-size: 56vw; /* Minimum font size for name */
    }

    .tagline {
        font-size: 2rem; /* Minimum font size for tagline */
    }

    .cta-button {
        font-size: 14px; /* Minimum font size for button text */
        padding: 10px 20px; /* Adjust button padding */
    }
}

/* Maximum sizes */
@media (min-width: 1200px) {
    .greeting {
        font-size: 18px; /* Maximum font size for greeting */
    }

    .name {
        font-size: 75px; /* Maximum font size for name */
    }

    .tagline {
        font-size: 3.02rem; /* Maximum font size for tagline */
    }

    .cta-button {
        font-size: 15px; /* Maximum font size for button text */
        padding: 16px 24px; /* Adjust button padding */
    }
}




/*#main-content, #intro, #about-me, #skills, #image-container, #profile-image, #second-image, #work-experience {
    border: 2px solid red;
}


#main-content, #intro, #about-me, #skills {
    outline: 2px solid red;
    outline-offset: -2px; 
}
#image-container {
    border: 2px solid rgb(55, 116, 185);
}